<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1">
    <test name="Regression1">
        <classes>
<!--            <class name="testNG.TC01_Annotations">-->
<!--                <methods>-->
<!--                    <include name="TC_02"/>-->
<!--                    <include name="TC_03"/>-->
<!--                    <exclude name="TC_01"/>-->
<!--                </methods>-->
<!--            </class>-->

<!--            <class name="testNG.TC02_Assertions">-->
<!--                <methods>-->
<!--                    <exclude name="TC_02"/>-->
<!--                    <exclude name="TC_03"/>-->
<!--                    <include name="TC_01"/>-->
<!--                </methods>-->
<!--            </class>-->

            <class name="testNG.TC04_DataProvider">
                <methods>
                    <include name="TC_01_LoginToSystem"/>
                </methods>
            </class>

        </classes>

    </test>
</suite>